
.about_us_container{
    position: relative;
    padding: 50vh;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.spaceman_img{
    height: 25vh;
}

#about_us_style_text{
    color: darkgray;
}