
.about_us_container{
    position: relative;
    color: whitesmoke;
    font-family: Exo2-light;
    height: 100vh;
}

.centered {
    top: 20%;
    text-align: center;
    position: relative;
}

.spaceman_img{
    height: 25vh;
}

#about_us_style_text{
    color: darkgray;
}

@media screen and (max-width: 600px) {
    .centered{
        top: 5%;
        margin: 10px;
    }
}

@media screen and (max-width: 600px) {
    .about_us_container{
        width: 100vw;
    }
}