.header_container{
    background-color: black;
    display: inline-flex;
    margin: 0;
    width: 100vw;
}

.logo_container{
    position: relative;
}

.portal_space_logo{

}

.menu{

}

.menu_items{
    display: flex;
    color: whitesmoke;
}

.menu_items li{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}