/* Split the screen in half */
.project_container{
    position: relative;
}

.split {
    height: 100%;
    position: absolute;
    padding-top: 20px;
    width: 50vw;
}


/* Control the left side */
.left {
    left: 0;

}

/* Control the right side */
.right {
    right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}