div.team_container {
    div.centered {
      h2 {
  
      }
  
      undefined {
  
      }
  
      img.UIO {
        height: 12vh;
      }
  
      img.Meteor {
        height: 12vh;
      }
  
      img.Kjeller {
        height: 12vh;
      }
  
      img.Oslomet {
        height: 12vh;
      }
    }
  }