@font-face {
    font-family: Exo;
    src: url(Exo2-Light.ttf);  /* first font == regular */
  }

h1{
    font-family: Exo;
}

.UIO {
  height: 250px;
  padding-left: 40px;
  padding-right: 40px;
}


.Insj {
  height: 250px;
  padding-right: 40px;
}

.Meteor {
  height: 200px;
  padding-right: 40px;
}

.Kjeller {
  height: 150px;

}


.Ellingsen {
  position: relative;
  left: 30px;

  height: 100px;
}

