.team_container{
    position: relative;
    color: whitesmoke;
    height: 100vh;
}



.centered h2{
    color: whitesmoke;
    object-position: center;
}

.team_image{
    height: 40vh;
    object-position: center;
}

@media screen and (max-width: 600px) {
    .team_container{
        margin-top: 100px;
    }
}